.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

.topbar {
  display: flex;
  position: absolute;
  top: 4.2rem;
  right: 4.2rem;
  gap: 1rem;
}
